/*styles.css*/

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

button {
  padding: 20px 40px;
  font-size: 24px;
  margin-bottom: 20px;
}

select {
  margin-bottom: 10px;
}

#cardContainer {
  display: none;
}

#cardImage {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#cardText, #cardCommentary {
  white-space: pre-wrap;
  text-align: left;
}

#drawnCardsContainer {
  margin-top: 20px;
}

#drawnCardsList {
  list-style-type: none;
  padding: 0;
}

#drawnCardsList li {
  cursor: pointer;
  margin-bottom: 5px;
}

#drawnCardsList li.highlight {
  font-weight: bold;
}

.layout {
  margin-bottom: 20px;
}

.layout img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.layout p {
  white-space: pre-wrap;
  text-align: left;
}

